body{
    font-family: Jost, sans-serif;
    font-weight: medium;
    margin: auto;
    background: black;
    color:white;
    max-width: 1400px;
}

h1{
    font-style: italic;
    }

header a{
    font-style: italic;
    text-decoration: none;
    color:white;
}

header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

header div{
    width: 33.3%;
}



#socials{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 0;
    height: 35px;
    width: 20%;
}

#socials svg{
    height: 50px;
    width: 50px;
}

#socials div{
    transition: opacity .25s ease-in-out;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    width: auto;
}

#socials div:hover{
    transition: opacity .25s ease-in-out;
    opacity: 100%;
}

#contact{
    margin-right: 0;
    text-align: right;
}

#contact a{
    font-size: 1.875vw;
    transition: opacity .25s ease-in-out;
    opacity: 70%;   
}

#contact a:hover{
    transition: opacity .25s ease-in-out;
    opacity: 100%;
}

#logo h1{
    font-size: 2.500vw;
    font-weight: normal;
    text-align: center;
    margin: auto;
}

#landmsg{
    width: 31.979vw;
    margin: auto;
    text-align: center;
    margin-top: 22.448vw;
    margin-bottom: 22.188vw;
}

#landmsg h1{
    font-size: 3.646vw;
    font-weight: normal;
}

#landmsg p{
    font-size: 1.667vw      ;

}

#work {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0 1.042vw;
}

#worksec{
    height: 31.771vw;
    width: 49%;
    font-weight: bold;
}


#workimg{
    height: 20.833vw;
    background-color: grey;
}

#worktext{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
    font-size: 0.885vw;
}

.worksec1{
    height: 46.875vw;
    width: 98%;
    font-weight: bold;
    margin: auto;
}

.worksec1 #workimg{
    height: 36.458vw;
}

#more{
    text-align: center;
    margin-top: 1.563vw;
    margin-bottom: 6.771vw;
}

#more a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#about{
    text-align: center;
    width: 52.083vw;
    margin: auto;
    margin-bottom: 15.417vw;
}

#about p{
    text-align: justify;
    width: 90%;
    margin: auto;
    font-size: 24px;
}

#about h1{
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
}

footer{
    width: 360px;
    margin: auto;
    text-align: center;
}

#email{
    margin-bottom: 40px;
}
#email h1{
    font-size: 20px;
    font-style: normal;
    margin-bottom: 0;
}

#email p{
    margin-top: 0;
    text-decoration: underline;
}

#copywrite{
    margin-top: 40px;
    opacity: 15%;
    margin-bottom: 10px;
}

.socials{
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 35px;
    width: 145px;
}

.socials svg{
    height: 35px;
    width: 35px;
}

.socials div{
    transition: opacity .25s ease-in-out;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.socials div:hover{
    transition: opacity .25s ease-in-out;
    opacity: 100%;
}