body{
    font-family: Jost, sans-serif;
    font-weight: medium;
    margin: 0%;
    background: black;
    color:white;
}

h1{
    font-style: italic;
    }

header a{
    font-style: italic;
    text-decoration: none;
    color:white;
}
@media only screen and (max-width: 576px){
        header{
            display: flex;
            justify-content: space-between;
            margin: auto;
            vertical-align: middle;
        }
        
        #socials{
            display: flex;
            justify-content: space-between;
            margin: auto;
            height: 24px;
            width: 105px;
        }

        #socials div{
            transition: opacity .25s ease-in-out;
            opacity: 70%;
        }

        #socials div:hover{
            transition: opacity .25s ease-in-out;
            opacity: 100%;
        }

        #contact{
            margin: auto;
        }

        #contact a{
            font-size: 20px;
            transition: opacity .25s ease-in-out;
            opacity: 70%;   
        }

        #contact a:hover{
            transition: opacity .25s ease-in-out;
            opacity: 100%;
        }

        #logo h1{
            font-size: 28px;
            font-weight: normal;
        }
        

}